/* ===== WRAPPER ===== */
#wrapper {
    width: 1000px;
    background: white;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
}

/* ===== TOP BAR ===== */
#topbar {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;
}

#logomenu {
    width: 120px;
    height: 60px;
    background: yellow;
    float: left;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

#menu {
    width: 600px;
    height: 60px;
    background: aqua;
    float: left;
    margin-left: 10px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

#pencarian {
    width: 240px;
    height: 60px;
    background: red;
    float: left;
    margin-left: 10px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

/* ===== BREAKING NEWS ===== */
#breaking {
    width: 980px;
    height: 40px;
    background: orange;
    color: white;
    line-height: 40px;
    padding-left: 10px;
    margin: 0 auto 10px auto;
    float: left;
}

/* ===== HEADLINE ===== */
#headline {
    width: 980px;
    height: 200px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ===== KIRI DAN TENGAH ===== */
#leftside {
    width: 250px;
    float: left;
}

#latest {
    width: 100%;
    height: 640px;
    background: skyblue;
    text-align: center;
    line-height: 500px;
    font-weight: bold;
}

#mainnews {
    width: 450px;
    height: 640px;
    background: lightblue;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 640px;
    font-weight: bold;
}

/* ===== KANAN (IKLAN + MOST POPULAR) ===== */
#rightside {
    width: 260px;
    float: left;
}

#ads {
    width: 100%;
    height: 180px;
    background: yellow;
    margin-bottom: 10px;
    text-align: center;
    line-height: 180px;
    font-weight: bold;
}

#popular {
    width: 100%;
    height: 540px; 
    background: pink;
    text-align: center;
    line-height: 540px;
    font-weight: bold;
}

/* ===== TOP PICKS ===== */
#toppicks {
    width: 720px;
    float: left;
    margin-top: -80px;
    margin-bottom: 10px;
    clear: both;
}

.toppick {
    width: 165px;
    height: 70px; 
    background: cyan;
    float: left;
    margin-right: 10px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    border-radius: 4px;
}

.toppick:last-child {
    margin-right: 0;
}

/* ===== FOOTER ===== */
#footer {
    width: 980px;
    height: 80px;
    background: aqua;
    float: left;
    margin-top: 10px;
    clear: both;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
}